/* global body padding */
body {
  padding-top:    20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  body {
    padding-top:    50px;
    padding-bottom: 50px;
  }
}


/* global spacing overrides */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top,
.navbar-static-top {
  border-bottom: 0;
}
.custom-admin-table-3 a span{
  width: 33.333% !important;
  text-align: center;
  overflow-wrap: break-word;
}
.custom-admin-table-4 a span{
  width: 25% !important;
  text-align: center;
  overflow-wrap: break-word;
}
.custom-admin-table-5 a span{
  width: 20% !important;
  text-align: center;
  overflow-wrap: break-word;
}
a.custom-last span{
  width: initial !important;
}
